@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AdminLTE Dashboard</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css" />
    <!-- AdminLTE -->
    <link rel="stylesheet" href="~/css/adminlte.min.css" />
    <!-- (Nếu có thêm plugin nào cần CSS thì add ở đây) -->
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        @await Html.PartialAsync("_AdminNavbar")

        <!-- Sidebar -->
        @await Html.PartialAsync("_AdminSidebar")

        <!-- Content Wrapper -->
        <div class="content-wrapper">
            <section class="content pt-3">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>

        <!-- Footer -->
        @await Html.PartialAsync("_AdminFooter")
    </div>

    <!-- Scripts -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/js/adminlte.min.js"></script>
    <!-- (Nếu có thêm plugin JS thì add ở đây) -->
    @RenderSection("Scripts", required: false)
</body>
</html>
